
# Dependency directories
node_modules/

# folder files
data_folder/

# Image files
*.jpg
*.png
*.ppm

# MacOS
.DS_Store
.idea/

# TypeScript compiled .map files
*.map  

# Test output directory
tests/.output*/

# Generated binary output
generated/bin/

# Compiled executables and debug files
*.exe
*.pdb

# Seems to work ok...






